// Place all the styles related to the api/genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.genre-container {
    margin-top: -50px;
    padding:0;
    color: white;
    max-width: 100%;
    overflow: hidden;

    .link-to-new-page {
        font-size: 20px;
        margin-left: 2%;
        color: white;
        text-decoration: none;
        display: block;
        width: fit-content;
    }

    .andy-fix-it {
        position: relative;
        top: -200px;
        width: 100vw;
        z-index: 5;
        padding-left: 40px;
    }
}

img {
    width: 200px;
    height: 280px;
}

.my-list-container {
    padding-left: 3%;
    padding-bottom: 3%;
    color: white;
    max-width: 100%;
    overflow: hidden;
    margin-top: 5%;

    #my-list-title {
       padding-left: 1%; 
       position: relative;
       top: -41px;
       font-size: -webkit-xxx-large;
    }
}

.my-list {
    margin-top: 10%;
    width: 100%;
}

.genre {
    margin-top: 40px;
    max-width: 100%;
    flex-direction: column;
    display: flex;
}
    .movie-dropbar {
       width: 100%;
       height: 600px;
       display: flex;
       flex-direction: column;
       border-radius: 1px;
       display: flex;
       justify-content: space-between;
       flex-direction: row;

       .close-sound-container {
        margin-right: 5%;
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        height: 400px;
        justify-content: space-between;
       }

       .dropbar-info-container {
          display: inherit;
          flex-direction: column;
          position: relative;
          top: 30px;
          left: 22px;
          background: linear-gradient(to right, black 75%, rgba(0,0,0,0));

          h2 {
            position: relative;
            top: 25px;
            font-size: 60px;
            color: white;
          }

          .dropbar-movie-desc {
            color: white;
            opacity: 0.6;
            position: relative;
            top: 55px;
            max-width: 500px;
            line-height: 1.5;
          }

          .dropbar-buttons {
            position: relative;
            top: 80px;
            display: flex;
          }

          .dropbar-movie-button {
            display: flex;
            border: 1px solid;
            margin-right: 15px;
            border-radius: 5px;
            width: 150px;
            height: 35px;
            background: rgba(0, 0, 0, 0.6);
            text-align: center;
            font-size: 20px;
            align-items: center;
            justify-content: center;
            cursor: pointer;
          }

          .dropbar-movie-button:hover {
            background-color: rgba($color: white, $alpha: 0.8);
            color: black;
          }

          .dropbar-rating-year {
            display: flex;
            position: relative;
            top: 30px;
          }

          .dropbar-year {
            margin-right: 20px;
          }

          .dropbar-maturity-rating {
            background: #00000066;
            font-size: 20px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 13px;
            padding-left: 20px;
            padding-right: 20px;
            border: 1px solid white;
          }

          .dropbar-genres {
            position: relative;
            top: 120px;
            display: flex;
            color: white;
            opacity: 0.8;
            font-size: 110%;
             li {
                 padding-left: 10px;
             }

             a {
                text-decoration: none;
                color: white;
                opacity: 0.4;

             }

             a:hover {
                color: white;
                opacity: 1;
             }
          }

        }

        .dropbar-movie-play {
            object-fit: cover;
             z-index: -1;
        }

       .dropbar-poster-container {
          flex-direction: column;
       }

    //    #movie-dropbar-description {
    //        padding: 10%;
    //        font-size: larger;
    //        display: inline-flex;
    //        top: 15%;
    //        color: white;
    //        z-index: 4;
    //    }

    //    #movie-dropbar-title {
    //         padding-top: 6%;
    //         padding-left: 10%;
    //         font-size: xx-large;
    //         display: inline-flex;
    //         color: white;
    //    }

       #dropdown-close {
           color: white;
           font: 900;
           font-size: 40px;
           margin-right: 5%;
           margin-top: 5%;
           z-index: 3;
       }

       #dropdown-poster {
        height: 600px;
        width: 450px;
        z-index: -1;
       }

    //    .dropdown-buttons {
    //     display: flex;
    //     margin-top: auto;
    //     margin-bottom: 20%;
    //     margin-left: 10%;
    //     margin-right: 50px;
    //     justify-content: space-between;
    //     z-index: 5;
        
    //    }

    //    #add-movie-button, #remove-movie-button {
    //        text-align: center;
    //        padding-top: 10px;
    //        font-size: 20px;
    //        width: 150px;
    //        height: 30px;
    //        background: red;
    //        border-radius: 3px;
           
    //    }


    }
    
.genre-movie-play {
    width: 100%;
    height: 800px;
    margin-bottom: 5px;

}

.genre-movie-box {
    position: absolute;
    margin-top: 300px;
    margin-left: 7%;
    z-index: 100;

    .genre-movie-button:hover {
        background-color: rgba($color: white, $alpha: 0.8);
        color: black;
    }

    h1 {
        color: rgba($color: white, $alpha: 0.8);
        display: flex;
        position: relative;
        top: -60px;
        font-size: 35px;
    }

    h2 {
        position: relative;
        top: -40px;
        font-size: 60px;
    }

    #Redflix-text {
        font-weight: bolder;
        opacity: 0.5;
        margin-right: 15px;
    }

    .genre-movie-button {
        display: flex;
        border: 1px solid;
        margin-right: 15px;
        border-radius: 5px;
        width: 150px;
        height: 35px;
        background: rgba(0, 0, 0, 0.6);
        text-align: center;
        font-size: 20px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .genre-button-container {
        display: flex;
    }

    .genre-movie-desc {
        color: white;
        opacity: 0.4;
        width: 330px;
        padding-top: 25px;
        line-height: 1.2;
    }

}

.sound-control {
    border:1px solid white;    
    height: 40px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width: 40px;
    font-size: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.genre-movie-maturity-rating {
    background: #00000066;
    height: 40px;
    width: 90px;
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-left: 5px;
    margin-left: 15px;
    border-left: 5px solid gray;
    font-size: 15px;
}

.sound-rating-container {
    position: absolute;
    top: 470px;
    right: 0;
    display: flex;
}

.movie-list-movie-play {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10000;
    margin-bottom: 5px;
}

.genre-list {
    margin-top: -15px; 
    display: flex;
    max-width: 100%;
    margin-left: 2%;

    &:hover {
        .li {
            transform:
        translateX(-25%);
        z-index: 5;
        position: relative;
        }
    }
    
    li:hover ~ li {
        transform: translateX(25%);
    }

    li {
        margin-right: 9px;
        transition: transform 300ms ease 100ms; 
        &:after {
            content: "";
            display: block;
        } 

        &:hover {
            transform: scale(1.5);
        }
    }

    .movie-list-item-content:hover > #movie-title, #movie-year, #movie-rating, .movie-dropbar {
        transform: none;
    }

}

.my-genre-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20%;


    li {
        margin: 10px;
        margin-bottom: 20px;
    }

    &:hover {
      
    }
    
    li:hover ~ li {
        // transform: translateX(25%);
        z-index: -5;
        // position: relative;
    }

    li {
        transition: transform 300ms ease 100ms; 
        &:after {
            content: "";
            display: block;
            z-index: 5;
        } 

        &:hover {
            transform: scale(1.5);
        }
    }

    .movie-list-item-content:hover > #movie-title, #movie-year, #movie-rating, .movie-dropbar {
        transform: none;
    }
}

.move-arrow-left {
   color: white;
   display: block;
   position: relative;
   top: 160px;
   left: -1px;
   font-size: xx-large;
//    padding-top: -2%;
}

.move-arrow-right {
    color: white;
    display: block;
    position: relative;
    top: -142px;
    right: -94%;
    font-size: xx-large;
    
}


.movie-list-item-content {
   font-weight: 700;
   font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
   background-color: rgba(7, 7, 7, 0.8);
   height: 280px;
   position: relative;
     
   #movie-title {
       margin-top: 60%;
       text-align: center;
       font-size: 20px;
       color: blue($color: white);
   }
   
   .movie-item-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
   }

   #movie-year {
       font-weight: 500;
       margin-right: 20px;
       margin-top: 10px;
       color: blue($color: white);
       
   }

   #maturity-rating-PG13 {
       margin-left: 20px;
       margin-top: 20px;
       display: inline-block;
       flex-direction: row;
       margin-top: 10px;
       color: #1e7040;
       border: 2px solid  #1db35b;
       border-radius: 2px;
    }

   #maturity-rating-R {
    font-size: 30px;
    margin-left: 20px;
    margin-top: 20px;
    display: inline-block;
    flex-direction: row;
    margin-top: 10px;
    color: #f60404;
    border: 1px solid #ad0b0b;
    border-radius: 2px;
    }

    #maturity-rating-NC-17 {
        margin-left: 20px;
        margin-top: 20px;
        display: inline-block;
        flex-direction: row;
        margin-top: 10px;
        color: #ad540b;
        border: 1px solid #ce620a;
        border-radius: 2px;
        }

    #open-movie-page {
        font-size: 400%;
        color: red;
        position: absolute;
        left: 70px;
        top: 60px;
    }

    #open-dropdown-movie {
        position: absolute;
        bottom: 4px;
        right: 90px;
        font-size: 200%;
        /* margin-left: 45%; */
        /* margin-top: 20%; */
        text-align: center;
        /* margin-top: 60px; */
        margin-bottom: 3%;
        
    }
}

.genre-browse {
    display: inline-flex;
    flex-direction: row;
    font-size: 25px;
   #brows-icon {
       font-size: 60%;
       margin-left: 10px;
       margin-right: 10px;
       margin-top: auto;
   }

   .new-link-arrow {
      font-size: 80%;
      font-size: 80%;
      position: relative;
      top: 5px;
   }
}

.genre-browse-no-link {
    font-size: 25px;
    display: inline-flex;
    margin-left: 2%;
}

.my-list-empty {
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-around;
    margin-top: 25%;
}

.search-empty-results {
    color: white;
    margin-top: 25%;
    margin-left: 40%;
}

.empty-left-arrow {
    display: block;
    position: relative;
    top: 160px;
    left: -1px;
    font-size: xx-large;
    color: transparent;
}

.empty-rigth-arrow {
    display: block;
    position: relative;
    top: -142px;
    right: -94%;
    font-size: xx-large;
    color: transparent;
}

.go-back {
    position: absolute;
    color: white;
    font-size: larger;
    margin-top: 10vh;
    margin-left: 3vh;
}

.go-back-big {
    position: absolute;
    color: white;
    font-size: xx-large;
    margin-top: 10vh;
    margin-left: 3vh;
}

