
.footer-links {
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    width: 100%;
    bottom: 0;  
    display: flex;
    justify-content: space-around; 
    border-top: 1px solid rgb(48, 43, 43);
    font-size: 100%; 
    padding-bottom: 1%;
    padding-top: 1%;
    z-index: 10000;
}

.footer-links {
    span {
        color: white;
    } 
    a {
       text-decoration: none;
    }
}
    