.welcome-new {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 6;
    // background: rgba(0,0,0,.5)
}

.welcome-user {
    display: flex;
    width: auto;
    justify-content: flex-end;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.genre-nav-bar {
    display: flex;
    // flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    min-width: 450px;
    margin-right: 5px;
    
    a {
        text-decoration: none;
        display: inline-block;
        color: white;
        font-size: 100%;
        padding-bottom: 5px;
        padding-left: 10px;
    }
}


.message-div {
   display: inline;
   flex-direction: row;
   align-items: center;
   justify-content: flex-end;
}

#message {
    font-size: 20px;
    display: inline-block;
    align-self: center;
    margin-right: 8px;
    color: white;
}

#main-logo {
    display: inline-block;
    margin-top: 2%;
    margin-left: 3%;
    color: #e50914;
    font-weight: 900;
    font-size: 50px;
}

.signout-button {
    margin-right: 5vw;
    margin-bottom: 0;
    display: inline-block;
    background-color: #e50914;
    color: white;
    font-size: 16px;
    text-decoration: none;
    border-radius: 3px;
    padding: 7px 17px;
    min-width: 100px;
    max-width: 120px;
    border: none;
}

.search-box {
    color: gray;
}

.signin-button {
    margin-right: 5vw;
    text-align: center;
    margin-bottom: 0;
    align-content: center;
    display: inline-block;
    background-color: #e50914;
    color: white;
    font-size: 16px;
    text-decoration: none;
    border-radius: 3px;
    padding: 7px 17px;
    width: 56px;
    height: 20px;
    
}


#signin {
   margin-top: 4px;
}
