.welcome-new {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2000;
    transition: background-color ease 2s;
    padding-bottom: 15px;
    padding-top: 15px;
}

.welcome-user {
    display: flex;
    width: auto;
    justify-content: flex-end;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.genre-nav-bar {
    display: flex;
    align-items: flex-end;
    font-size: 20px;
    justify-content: space-evenly;
    min-width: 450px;
    margin-right: 5px;
    font-weight: 200;
    
    a {
        text-decoration: none;
        display: inline-block;
        color: white;
        font-size: 100%;
        padding-bottom: 5px;
        padding-left: 10px;
    }
}


.message-div {
   display: inline;
   flex-direction: row;
   align-items: center;
   justify-content: flex-end;
}

#message {
    font-size: 20px;
    display: inline-block;
    align-self: center;
    margin-right: 8px;
    color: white;
}

#main-logo {
    display: inline-block;
    margin-left: 3%;
    color: #e50914;
    font-weight: 900;
    font-size: 40px;
    margin-right: 30px;
}

.signout-button {
    margin-right: 5vw;
    margin-bottom: 0;
    display: inline-block;
    background-color: #e50914;
    color: white;
    font-size: 16px;
    text-decoration: none;
    border-radius: 3px;
    min-width: 100px;
    max-width: 120px;
    border: none;
}

.search-box {
    color: white;
    border: 4px solid white;
    border-radius: 2px;
    background: black;
    margin-right: 20px;
    font-size: 15px;
}

.search-icon {
    color: white;
    margin-right: 8px;
    font-size: xx-large;
}

.signin-button {
    margin-right: 5vw;
    text-align: center;
    margin-bottom: 0;
    align-content: center;
    display: inline-block;
    background-color: #e50914;
    color: white;
    font-size: 18px;
    text-decoration: none;
    border-radius: 3px;
    padding: 7px 17px;
    width: 80px;
    height: 20px;
    
}


